@font-face {
  font-family: "Glyphicons Halflings";
  src: url("https://cdn.staticfile.org/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}